// it's used for initial example page, nothing else.
@forward "vars";
@use "vars" as *;
main{
    padding-top: 32px;
    margin-bottom: 32px;
}
h1{
    margin-bottom: 8px;
}
h2{
    margin-bottom: 6px;
}
section{
    margin-top: 60px;
    margin-bottom: 60px;
}
section h2{
    margin-bottom: 24px;
    text-align: center;
}

.intro{
    text-align: center;
}

.splide__slide-image{
    height: 100%;
}

.fancybox{
    &-gallery{
        &-inner{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 16px;
            row-gap: 16px;
        }
        &-item{
            aspect-ratio: 4/5;
        }
    }
}

.image, 
.image img{
    border-radius: 8px;
}

.input{
    padding: 8px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: $white;
    will-change: border-color;
    transition: border-color 0.2s;
    color: $color_text_primary;
    &::placeholder{
        color: $color_text_primary;
        opacity: 0.6;
    }
    &-wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        width: 100%;
        &_checkbox{
            flex-direction: row;
            align-items: flex-start;
            column-gap: 8px;
        }
    }
    &_text{
        
    }
    &_tel{
        
    }
    &_email{

    }
    &_consent, &_promo{
        appearance: none;
        border: 1px solid $white;
        width: 18px;
        aspect-ratio: 1;
        border-radius: 2px;
        background-color: transparent;
        will-change: background-color;
        transition: background-color 0.2s;
        display: grid;
        place-items: center;
        cursor: pointer;
        &::before{
            display: inline;
            content: '\2713';
            color: transparent;
            will-change: color;
            transition: color 0.2s;
        }
        &:checked{
            background-color: $color_accent;
            &::before{
                color: $white;
            }
        }
        // -moz-appearance: none;
        // -webkit-appearance: none;
    }
    &.invalid{
        border-color: red;
    }
}
.label{
    cursor: pointer;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    max-width: 600px;
    margin: 0 auto;
}