@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("assets/fonts/Roboto-Light.woff"), url("assets/fonts/Roboto-Light.woff2");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/Roboto-Regular.woff"), url("assets/fonts/Roboto-Regular.woff2");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("assets/fonts/Roboto-Medium.woff"), url("assets/fonts/Roboto-Medium.woff2");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("assets/fonts/Roboto-Bold.woff"), url("assets/fonts/Roboto-Bold.woff2");
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    src: url("assets/fonts/Raleway-Light.woff"), url("assets/fonts/Raleway-Light.woff2");
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/Raleway-Regular.woff"), url("assets/fonts/Raleway-Regular.woff2");
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    src: url("assets/fonts/Raleway-Meduim.woff"), url("assets/fonts/Raleway-Medium.woff2");
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    src: url("assets/fonts/Raleway-Bold.woff"), url("assets/fonts/Raleway-Bold.woff2");
}