@forward "libs";
@forward "fonts";
@forward "vars";
@use "vars" as *;
@forward "resets";
@forward "utilities";
@forward "container";
@forward "default";

html{
    box-sizing: border-box;
    font-family: $font_family_primary;
    font-size: 16px;
    color: $color_text_primary;
    overflow-x: hidden;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: $body_background;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font_family_secondary;
    font-weight: 500;
}

.input{
    &::placeholder{
        color: $color_text_primary;
        opacity: 0.6;
    }
    &_text{
        
    }
    &_tel{
        
    }
    &_email{

    }
    &.invalid{
        
    }
}

.button{
    padding: 12px 24px;
    background-color: $color_accent;
    cursor: pointer;
    &:hover{
        background-color: $color_accent_hover;
    }
    color: $color_text_primary;
}

// .cookie{
//     position: fixed;
//     z-index: 5;
//     bottom: 5dvh;
//     left: 40px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

.popup{
    display: none;
    max-width: 440px;
    color: currentColor;
    background-color: $body_background;
    border-radius: 8px;
    border: 1px solid $white;
    &-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 12px;
    }
}