@forward "libs";
@forward "fonts";
@forward "vars";
@use "vars" as *;
@forward "resets";
@forward "utilities";
@forward "container";
@forward "default";

html{
    box-sizing: border-box;
    font-family: $font_family_primary;
    font-size: 16px;
    color: $color_text_primary;
    overflow-x: hidden;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: $body_background;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font_family_secondary;
    font-weight: 500;
}

.input{
    border-width: 1px;
    border-style: solid;
    border-color: $white;
    will-change: border-color;
    transition: border-color 0.2s;
    color: $white;
    &::placeholder{
        color: $color_text_primary;
        opacity: 0.6;
    }
    &-wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        &_checkbox{
            flex-direction: row;
            align-items: flex-start;
            column-gap: 8px;
        }
    }
    &_text{
        
    }
    &_tel{
        
    }
    &_email{

    }
    &_consent, &_promo{
        appearance: none;
        border: 1px solid $white;
        width: 18px;
        aspect-ratio: 1;
        border-radius: 2px;
        background-color: transparent;
        will-change: background-color;
        transition: background-color 0.2s;
        display: grid;
        place-items: center;
        cursor: pointer;
        &::before{
            display: inline;
            content: '\2713';
            color: transparent;
            will-change: color;
            transition: color 0.2s;
        }
        &:checked{
            background-color: $color_accent;
            &::before{
                color: $white;
            }
        }
        // -moz-appearance: none;
        // -webkit-appearance: none;
    }
    &.invalid{
        border-color: red;
    }
}
.label{
    cursor: pointer;
}

.button{
    padding: 12px 24px;
    background-color: $color_accent;
    cursor: pointer;
    &:hover{
        background-color: $color_accent_hover;
    }
    color: $color_text_primary;
}

// .cookie{
//     position: fixed;
//     z-index: 5;
//     bottom: 5dvh;
//     left: 40px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

.popup{
    display: none;
    max-width: 440px;
    color: currentColor;
    background-color: $body_background;
    border-radius: 8px;
    border: 1px solid $white;
    &-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 12px;
    }
}