// SCSS mixin syntax as follows:
// @mixin light{
//     font-family: 'Jura-Light';
//     font-weight: 300;
// }
// to call it, use:
// @include light;

// SCSS variable syntax example:
// $background: #b00b69;

$white: #F7FFFB;
$body_background: #F5F4FF;

$font_family_primary: "Roboto";
$font_family_secondary: "Raleway";

$text_primary: #2D2D2D;
$text_placeholder: #B7B4D3;

$input_background: #E8E5FB;