// SCSS mixin syntax as follows:
// @mixin light{
//     font-family: 'Jura-Light';
//     font-weight: 300;
// }
// to call it, use:
// @include light;

// SCSS variable syntax example:
// $background: #b00b69;

$white: #F7FFFB;
$black: #2D2D2D;
$body_background: $black;

$font_family_primary: "Roboto";
$font_family_secondary: "Raleway";
$color_text_primary: $white;
$color_accent: #3f76f0;
$color_accent_hover: #1656e0;