include components/header.pug
main.main
    section.section
        .container
            a(href="https://www.youtube.com/watch?v=JHY0PYZXvfU" target="_blank") 
            h1.title.title_section.title_main Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde magnam nihil suscipit!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsum necessitatibus. Ex dicta eos, suscipit tenetur vitae aperiam sequi. Porro dolor exercitationem optio earum!
        
include components/footer.pug