script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
script(src="assets/js/libs.min.js")  
script(src="assets/js/cookie.js")
script(src="assets/js/main.js") 
script(src="assets/js/accordion.js") 
script(src="assets/js/validation.js") 